<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      Login Form
    </ion-card-header>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <ion-list>
        <ion-item>
          <ion-input label="Email" label-placement="floating" type="email" placeholder="Email" [clearInput]="true" name="email" ngModel email/>
        </ion-item>

        <ion-item>
          <ion-input label="Password" label-placement="floating" type="password" placeholder="Password" [clearInput]="true" name="password" ngModel password/>
        </ion-item>

        <ion-button expand="full" type="submit">Login</ion-button>
      </ion-list>
    </form>  
  </ion-card>
</ion-content>