<ion-content style="height: 500px" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-searchbar
        [value]="searchTerm"
        (ionInput)="onSearchChange($event)"
        placeholder="Search users..."
        animated="true"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <!-- Alphabetic indicator -->
    <div class="letter-indicator" *ngIf="currentLetter">
      {{ currentLetter }}
    </div>

    <!-- User list -->
    <ion-list>
      <ion-item *ngFor="let user of users; let i = index">
        <ion-avatar aria-hidden="true" slot="start">
          <img [alt]="user.email" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ user.email }}</h2>
        </ion-label>
      </ion-item>

      <!-- Loading skeleton -->
      <ion-item *ngIf="loading">
        <ion-avatar slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2><ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text></h2>
          <p><ion-skeleton-text [animated]="true" style="width: 30%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>

      <!-- No results message -->
      <ion-item *ngIf="!loading && users.length === 0">
        <ion-label class="ion-text-center">
          No users found
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadUsers($event)" [disabled]="!hasMore">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more users...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>